article header{
    background-color:black;
    color:white;
    width:280px;
}
.third{
    border: 5px solid black;
    border-radius:11px;
    width:64px;
}
.first:hover{
    background-color:grey;
    border:2px solid grey;
}
.second:hover{
    background-color:grey;
    border:2px solid grey;
}