div{
    width: 400px;
    height: 400px;
    background-color: black;
    margin: auto;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate{
    from{
        transform:rotate(0deg) ;
    }
    to{
       transform:rotate(360deg);
        
    }
}