#first{
    border: 2px solid black;
    height: 80px;
    margin-bottom: 10px;
}
a{
    float: right;
    margin: 30px;
    margin-left: 10px;
}
img{
    width:80px;
}
#second{
    border: 2px solid black;
    height: 500px;
    width: 70%;
    background-color: yellow;
    display: inline-block;
}

#third{
    border: 2px solid black;
    height: 500px;
    width:29%;
    float: right;
    background-color:blue;
}
#fourth{
    border: 2px solid black;
    height:80px;
    background-color:black;
    margin-top:10px;
}
a:hover{
    background-color: green;
}