#a{ 
    height: 20px;
    background-color: black;
    color: white;
    border: none;
    transition-property: padding;
    transition-duration: 5s;
}
#a:hover{
    padding: 30px;
    background:blue;
}